.Board-row-wrapper{
    border: 1px solid Black;
    display: table;
}

.Board-row{
    height: var(--tile-size);
    display: table-row;
}

.Tile{
    background: White;

    height: var(--tile-size);
    width: var(--tile-size);
    max-height: var(--tile-size);
    max-width: var(--tile-size);

    display: table-cell;
    overflow: hidden;
}

.Board-row:nth-child(odd) > .Tile:nth-child(even), .Board-row:nth-child(even) > .Tile:nth-child(odd){
    background: rgb(150, 150, 150);
}
